@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&display=swap');
body{
    background-color: rgb(231, 231, 231) !important;
    font-family: 'IBM Plex Sans Arabic', sans-serif !important;
    overflow-x: hidden;
}
nav{
    background-color: transparent;
    position: absolute !important;
    top: 0px;
}

.col-md-6{
    padding: 10px !important;
    height: 100vh;
}

h4{
    text-align: center;
}

.title{
    font-weight:bold;
    color: rgb(255, 255, 255);
    text-align: center;
}

.downContent{
    margin-top: 50%;
    transform: translate(0%, -50%);
}

.container{
    background-color: rgb(231, 231, 231) !important;
}


.about-text{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    padding: 10px;
}
